#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS
export DH_GOPKG := golang.struktur.de/spreedbox/spreedbox-auth
#export DEB_BUILD_OPTIONS=nocheck

DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/^[[:digit:]]*://' -e 's/[~-].*//')
export VERSION

override_dh_auto_build-indep:
	DEB_BUILDING=1 $(MAKE) www-release

override_dh_auto_test-indep:
	# no tests for architecture independent files

override_dh_install-arch:
	dh_install
	install -m644 -D $(CURDIR)/server.conf.in $(CURDIR)/debian/spreedbox-authd/etc/spreedbox/baddschd.conf
	sed -i 's|^# provider =\(.*\)|provider = owncloud|;' $(CURDIR)/debian/spreedbox-authd/etc/spreedbox/baddschd.conf
	sed -i 's|^# owncloudURL =\(.*\)|owncloudURL = http://127.0.0.1:9673/index.php/apps/spreedbox|;' $(CURDIR)/debian/spreedbox-authd/etc/spreedbox/baddschd.conf
	sed -i 's|^# owncloudSkipSSLValidation =\(.*\)|owncloudSkipSSLValidation = true|;' $(CURDIR)/debian/spreedbox-authd/etc/spreedbox/baddschd.conf
	sed -i 's|^tokenPrivateKey =\(.*\)|tokenPrivateKey = /etc/spreedbox/auth/keys/privkey.pem|;' $(CURDIR)/debian/spreedbox-authd/etc/spreedbox/baddschd.conf
	install -m644 -D $(CURDIR)/debian/upstream.conf $(CURDIR)/debian/spreedbox-authd/etc/nginx/conf.d/spreedbox-authd.conf
	install -m644 -D $(CURDIR)/debian/nginx.conf $(CURDIR)/debian/spreedbox-authd/etc/nginx/spreedbox.d/spreedbox-authd.conf
	install -m755 -D $(CURDIR)/debian/firstboot.sh $(CURDIR)/debian/spreedbox-authd/etc/firstboot/firstboot.d/10generate-auth-keys
	mkdir -p $(CURDIR)/debian/spreedbox-authd/usr/share/spreedbox-authd
	cp -v $(CURDIR)/scripts/* $(CURDIR)/debian/spreedbox-authd/usr/share/spreedbox-authd

override_dh_install-indep:
	dh_install -i
	mkdir -p $(CURDIR)/debian/spreedbox-authd-www/usr/share/spreedbox-authd/www
	cp -r $(CURDIR)/www/build/* $(CURDIR)/debian/spreedbox-authd-www/usr/share/spreedbox-authd/www

%:
	dh $@ --buildsystem=golang --with=golang --fail-missing
